<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oxbix.xfood"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <application
        android:name="com.oxbix.xfood.SysApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oxbix.xfood.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.oxbix.xfood.ui.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oxbix.xfood.ui.LoginActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.oxbix.xfood.ui.RestaurantSettingActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.FoodActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.OrderCheckOutActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.OrderListActivtity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.WelcomeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.MyOrderActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.OrderSuccessActivtity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.CheckOutActivtity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.oxbix.xfood.ui.KitchenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.oxbix.xfood.ui.GradeActivtity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>